# Entorno y Secretos
.env
*.env
api_key*
secrets.py
leaks_report.json
security_scan_history.log
security_reports/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv
venv/
ENV/

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# OS
.DS_Store
Thumbs.db
